@using HelperEntities;

@model Usewards; 

@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <title>Пользователи и награды</title>
    <link rel="stylesheet" href="~/css/WebService.css">
    <script type="text/javascript" src="~/js/WebService.js" charset="UTF-8"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>-->
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <!--<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">-->
    <script src="~/js/jquery-ui-i18n.js"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <script type="text/javascript">
        $(function () {

            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('#datep').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2020"
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {

            $.datepicker.setDefaults($.datepicker.regional['ru']);
            $('#datep_2').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2020"
            });
        });
    </script>
</head>
<body onload="myConfigure()">

    <div id="header">Пользователи и награды</div>

    <h2>Доступные таблицы</h2>

    <div class="tab">
        <button class="tablinks" onclick="openTable(event, 'users')">Пользователи</button>
        <button class="tablinks" onclick="openTable(event, 'rewards')">Награды</button>
    </div>

    <div id="users" class="tabcontent">
        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Дата рождения</th>
                <th>Возраст</th>
                <th>Награды</th>
                <th>Элементы управления</th>
            </tr>

            @foreach (var user in Model.UsersList)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.DateBirthday.ToString("dd.MM.yyyy")</td>
                    <td>@user.Age</td>
                    <td>
                        @for (int i = 0; i < user.Rewards.Count; i++)
                        {
                            if (i == user.Rewards.Count - 1)
                            {
                                @user.Rewards[i].Title
                            }
                            else
                            {
                                @user.Rewards[i].Title<br>
                            }
                        }
                    </td>
                    <td>
                        <input type="button" value="Редактировать" onclick="EditUser(this)">
                        <input type="button" value="Удалить" onclick="RemoveUserConfirmation(this)">
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="button" value="Создать" onclick="CreateUser()">
                </td>
            </tr>
        </table>
    </div>

    <div id="rewards" class="tabcontent">
        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Элементы управления</th>
            </tr>
            @foreach (var reward in Model.RewardsList)
            {
                <tr>
                    <td>@reward.Id</td>
                    <td>@reward.Title</td>
                    <td>@reward.Description</td>
                    <td>
                        <input type="button" value="Редактировать" onclick="EditReward(this)">
                        <input type="button" value="Удалить" onclick="RemoveRewardConfirmation(this)">
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="button" value="Создать" onclick="CreateReward()">
                </td>
            </tr>
        </table>
    </div>

    <div id="user" class="modal">

        <form class="modal-content" action="@Url.Action("AddUser")" method="post">

            <div class="container">
                <label for="uFisrtName"><b>Имя</b></label>
                <input type="text" placeholder="Введите имя" name="uFirstName" required>

                <label for="ulastName"><b>Фамилия</b></label>
                <input type="text" placeholder="Введите фамилию" name="uLastName" required>

                <label for="uBirthday"><b>Дата рождения</b></label>
                <input id="datep" name="uBirthday" required>

                <label for="uRewardsUser"><b>Награды пользователя</b></label>
                <select id="selectRewardsUserCreate" name="selectRewardsUserCreate" multiple></select>

                <input id="btnRemoveRewardCreateUser" class="buttonsUserEdit" type="button" value="Убрать награду" onclick="RemoveRewardToUserCreation()">
                <br>

                <label for="uRewardsAvailable"><b>Награды доступные</b></label>
                <select id="selectRewardsAvailableCreate" name="selectRewardsAvailableCreate"multiple></select>

                <input id="btnAddRewardCreateUser" class="buttonsUserEdit" type="button" value="Добавить награду" onclick="AddRewardToUserCreation()">
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button id="btnCreateUser" type="submit" onclick="HandlerUndoSubmitCreate()"></button>
                <button type="button" onclick="document.getElementById('user').style.display='none'" class="cancelbtn">Отмена</button>
            </div>
        </form>
    </div>

    <div id="userEdit" class="modal">

        <form class="modal-content" action="@Url.Action("UpdateUser")" method="post">

            <div class="container">
                <input type="hidden" id="userId" value="" name="uUserId">

                <label for="uFisrtName"><b>Имя</b></label>
                <input type="text" id="userFirstName" placeholder="Введите имя" name="uFirstName" required>

                <label for="ulastName"><b>Фамилия</b></label>
                <input type="text" id="userLastName" placeholder="Введите фамилию" name="uLastName" required>

                <label for="uBirthday"><b>Дата рождения</b></label>
                <input type="text" id="datep_2" value="05.05.2005" name="uBirthday" required>

                <label for="uRewardsUser"><b>Награды пользователя</b></label>
                <select id="selectRewardsUserEdit" name="selectRewardsUserEdit" multiple></select>

                <input id="btnRemoveRewardEditUser" class="buttonsUserEdit" type="button" value="Убрать награду" onclick="RemoveRewardToUserEdit()">
                <br>

                <label for="uRewardsAvailable"><b>Награды доступные</b></label>
                <select id="selectRewardsAvailableEdit" name="selectRewardsAvailableEdit" multiple></select>

                <input id="btnAddRewardEditUser" class="buttonsUserEdit" type="button" value="Добавить награду" onclick="AddRewardToUserEdit()">
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button id="btnEditUser" type="submit" onclick="HandlerUndoSubmitEdit()"></button>
                <button type="button" onclick="document.getElementById('userEdit').style.display='none'" class="cancelbtn">Отмена</button>
            </div>
        </form>
    </div>

    <div id="reward" class="modal">

        <form class="modal-content" action="@Url.Action("AddReward")" method="post">

            <div class="container">
                <label for="uTitle"><b>Наименование</b></label>
                <input type="text" placeholder="Введите название" name="uTitle" required>

                <label for="uDescription"><b>Описание</b></label>
                <input type="text" placeholder="Введите описание" name="uDescription">
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button id="btnCreateReward" type="submit"></button>
                <button type="button" onclick="document.getElementById('reward').style.display='none'" class="cancelbtn">Отмена</button>
            </div>
        </form>
    </div>

    <div id="rewardEdit" class="modal">

        <form class="modal-content" action="@Url.Action("UpdateReward")" method="post">

            <div class="container">
                <input type="hidden" id="rewardId" value="" name="uRewardId">

                <label for="uTitle"><b>Наименование</b></label>
                <input type="text" id="rewardTitte" placeholder="Введите название" name="uTitle" required>

                <label for="uDescription"><b>Описание</b></label>
                <input type="text" id="rewardDescription" placeholder="Введите описание" name="uDescription">
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button id="btnEditReward" type="submit"></button>
                <button type="button" onclick="document.getElementById('rewardEdit').style.display='none'" class="cancelbtn">Отмена</button>
            </div>
        </form>
    </div>

    <div id="footer">&copy; Дорохин Сергей</div>

    <form name="rewardRemoveForm" class="modal-content" action="@Url.Action("RemoveReward")" method="post" style="display: none;">
        <input type="hidden" id="rewIdToRemove" name="rewardIdToRemove" value="">
    </form>

    <form name="userRemoveForm" class="modal-content" action="@Url.Action("RemoveUser")" method="post" style="display: none;">
        <input type="hidden" id="useIdToRemove" name="userIdToRemove" value="">
    </form>
</body>
</html> 
